/* Generales*/
html body {
  background-color: #e8ebf4;
  margin: 0;
  padding: 0;
}

/*Header */
.banner-portada {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 130px;
}
.banner-portada .foto-perfil {
  display: block;
  margin: auto;
  padding: 44px 0 0 0;
  width: 16.23%;
}
.banner-portada nav .menuPrincipal {
  color: #333;
  font-family: "Syne Mono", monospace;
  letter-spacing: 2px;
  list-style-type: none;
  text-transform: uppercase;
  white-space: 2px;
}
.banner-portada nav .menuPrincipal li {
  padding: 5px 0;
}
.banner-portada nav .menuPrincipal li .btn-nav {
  text-decoration: none;
}
.banner-portada nav .menuPrincipal li .btn-nav:hover {
  text-decoration: underline;
}
.banner-portada .titular {
  background-color: #5867a8;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
}

/* Main */
main section#datos-personales .titulo-personal {
  background-color: #a380d8;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  padding: 6px 15px;
  text-transform: uppercase;
}
main section#datos-personales ul li span {
  font-family: "Syne Mono", monospace;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}
main section#estudios .titulo-estudios {
  background-color: #734fa9;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  padding: 6px 15px;
  text-transform: uppercase;
}
main section#estudios dl {
  margin-left: 30px;
}
main section#estudios dl dt {
  font-family: "Syne Mono", monospace;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}
main section#experiencia h3.titulo-experiencia {
  background-color: #604c7e;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  padding: 6px 15px;
  text-transform: uppercase;
}
main section#experiencia dl {
  margin-left: 30px;
}
main section#experiencia dl dt {
  font-family: "Syne Mono", monospace;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Footer */
footer {
  background-color: #5867a8;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
}
footer h4 {
  text-align: center;
  text-transform: uppercase;
}
footer span a .fa-github {
  color: #fff;
  margin: 0 15px;
}
footer span a .fa-linkedin {
  color: #fff;
}

/* Sobre mi */
/* Header */
.banner-portada-mi {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.banner-portada-mi .foto-perfil {
  display: block;
  margin: auto;
  padding: 44px 0 0 0;
  width: 16.23%;
}

/* Main */
main .contenedor-info {
  padding: 20px;
}
main .contenedor-info .info-sobremi {
  font-family: Arial, Helvetica, sans-serif;
  -size: 14px;
  line-height: 22px;
  text-align: center;
}/*# sourceMappingURL=estilos.css.map */